/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1.1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;   
}

nav ul {
    list-style: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content:''; content:none;

}


/*  END RESET */

h1, h2, h3, header p {
    font-family: sans-serif;
}

#main {
    width: 85%;
    margin: 2em auto;
    
}

h1 {
    font-size: 4em;
}


header p {
    
    font-size: 2em;
}


header, footer{
    background-color: #dd2828;
    text-align: center;
    padding: 1em;
    
}


img {
    width: 100%;
}


#billedsektion {
    width: 50%;
    float: right;
    box-shadow: 5px 5px 5px #999999;
    margin-bottom: 0.3em;
}


blockquote {
    font-size: 0,75;
    color: #666666;
    font-style: italic;
    
}


#faktaboks {
    width: 20%;
    background-color: lightgray;
    float: right;
    color: #dd2828;
    text-align: left;
    font-style: oblique;
    
}

#indhold {
    width: 70%;
    float: left;
    
}

footer {
    clear: both;
    padding: 0.3em;
    position: fixed;
    bottom: 0px;
    width: 100%;
    
}

a{
    text-decoration: none;
}

a:link{
    color: #dd2828;
}

a:visited {
    color: #dd2828;
        
}

a:hover {
    color: #ffcc00;
}





